<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-primary btn-lg"><mat-icon>home</mat-icon>
                        Take Me Home </a><a [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-default btn-lg"><mat-icon>contact_support</mat-icon> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>